.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 100vw;
    position:absolute;
    top:0;
    left:0;
   
}
.nav_item{
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 10px 20px;
    box-shadow: inset -3px -3px 10PX var(--highLighter);
    background-color: transparent;
    border-radius: 2rem;
       
}
.nav_item *{
    text-decoration: none;
    text-shadow: 1px 1px rgba(188, 188, 207, 0.7);
    color: rgb(18, 18, 64);
}
.nav_item .active{
    color:var(--highLighter);
}
.nav_item *:hover{
    cursor: pointer;
    text-shadow:1px 1px  20px rgb(253,0,253);
    color:var(--highLighter);
}